<!DOCTYPE html>
<html ng-app="expTracker">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ng-tags-input.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ng-tags-input.bootstrap.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/AngularApp.js"></script>
	<script type="text/javascript" src="/javascripts/moment.js"></script>
	<script type="text/javascript" src="/javascripts/angular-moment.js"></script>
	<script type="text/javascript" src="javascripts/ng-tags-input.js"></script>
  </head>
  <body class="container" ng-controller="TrackerController as tracker">
  	<header class="page-header">
	    <h1 class="text-center"><%= title %></h1>
		<!-- <p class="text-center">Welcome to <%= title %></p> -->
  	</header>
  		
  	<div ng-controller="TabController as tab">
  		<!-- Setup a tabbed UI with 2 tabs for adding and reveiwing expenses -->
  		<ul class="nav nav-pills">
  			<li ng-class="{ active:tab.isSet(1) }">
  				<a href="" ng-click="tab.setTab(1)">Add Expenses</a>
  			</li>
  			<li ng-class="{ active:tab.isSet(2) }">
  				<a href="" ng-click="tab.setTab(2)">Review Expenses</a>
  			</li>
  		</ul> <!-- ./nav -->

  		<!-- Add Expenses Tab -->
  			
  		<div ng-show="tab.isSet(1)">
  			<h3>Add an Expense</h3>
	  		<div class="row">
	  			<expense-detail></expense-detail>
	  		</div> <!-- ./row -->
	  		<div class="row">
	  			<expense-form></expense-form>
	  		</div>	<!-- ./row -->
  		</div> <!-- ./tab.isSet(1) -->

  		<!-- Review Expenses Tab -->
  		<div ng-show="tab.isSet(2)">
  			<div ng-controller="ReviewTabController as reviewTab">
  				<ul class="nav nav-pills nav-sub">
  					<li ng-class="{ active:reviewTab.isSet(1) }">
  						<a href="" ng-click="reviewTab.setTab(1)">Monthly Expense Detail</a>
  					</li>
  					<li ng-class="{ active:reviewTab.isSet(2) }">
  						<a href="" ng-click="reviewTab.setTab(2)">Tagged Expense View</a>
  					</li>
  					<!-- Add more review tabs here -->
  					<!-- <li ng-class="{ activate:reviewTab.isSet(3) }">
  						<a href="" ng-click="reviewTab.setTab(3)">Yet Another Tab</a>
  					</li> -->
  				</ul> <!-- ./nav -->

  				<div ng-controller="TagsController as tags">
	  				<monthly-expense-detail></monthly-expense-detail>

	  				<div class="btn-group-vertical col-xs-2" role="group" data-toggle="buttons" ng-show="reviewTab.isSet(2)">
	  					<label ng-repeat="tag in tags.tagList" class="btn btn-info" ng-class="{ active:tag.activeTag }" ng-click="tags.setStatus(tag.name, true)">
	  						<input type="checkbox" autocomplete="off" ng-model="tag.status" > {{tag.name}}
	  					</label>
	  				</div>
	  				<div class="col-xs-10">

	  				<!-- Set up the panel below to show important expense info -->

		  				<!-- Split button
						<div class="btn-group pull-right" ng-show="reviewTab.isSet(2)">
							<button type="button" class="btn btn-primary month-select" ng-click="monthlyExp.refresh()">Refresh</button>
							<button type="button" class="btn btn-primary dropdown-toggle month-select" data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="" ng-click="monthlyExp.refresh()">Refresh</a></li>
								<li class="divider"></li>
								<li><a href="" ng-click="monthlyExp.loadMonth('Current')">Current Month</a></li>
								<li><a href="" ng-click="monthlyExp.loadMonth('Prior')">Prior Month</a></li>
							</ul>
						</div> -->
		  				<div class="panel panel-info" ng-show="reviewTab.isSet(2)">
							<div class="panel-heading">
								<h3 class="panel-title">Active Tag Expenses
								</h3>
							</div>
							<div class="panel-body">
								<h4>Expenses for Selected Tags: {{tags.expenseListTotal | currency}}</h4>
							</div>
							<table class="table" ts-wrapper>
								<tr>
									<th ts-criteria="dateIncurred">Date</th>
									<th ts-criteria="paidTo|lowercase">Paid To</th>
									<th ts-criteria="importance|parseImportance" ts-default="descending">Importance</th>
									<th ts-criteria="transactionType|lowercase">Transaction Type</th>
									<th ts-criteria="amount|parseFloat">Amount</th>
									<th>View Detail</th>
								</tr>
								<tr ng-repeat="expense in tags.expenseList track by expense._id" ts-repeat>
									<td>{{expense.dateIncurred | date}}</td>
									<td>{{expense.paidTo}}</td>
									<td>{{expense.importance}}</td>
									<td>{{expense.transactionType}}</td>
									<td>{{expense.amount | currency}}</td>
									<td><button type="button" class="btn btn-primary btn-sm" ng-click="monthlyExp.detail(expense._id)" data-toggle="modal" data-target="#monthlyExpEditModal"><span class="glyphicon glyphicon-info-sign"></span> Details</button></td>
								</tr>
							</table>
						</div> <!-- ./panel -->
					</div>
  				</div>

  			</div> <!-- ./reviewTab -->
  		</div> <!-- ./tab.isSet(2) -->
  	</div> <!-- ./tab -->
  	<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="javascripts/angular-tablesort.js"></script>
  </body> <!-- ./body -->
</html> <!-- ./html -->
