<!-- Monthly Expense Detail -->
				
<!-- Split button -->
<div class="btn-group pull-right" ng-show="reviewTab.isSet(1)">
	<button type="button" class="btn btn-primary month-select" ng-click="monthlyExp.refresh()">Refresh</button>
	<button type="button" class="btn btn-primary dropdown-toggle month-select" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="" ng-click="monthlyExp.refresh()">Refresh</a></li>
		<li class="divider"></li>
		<li><a href="" ng-click="monthlyExp.loadMonth('Current')">Current Month</a></li>
		<li><a href="" ng-click="monthlyExp.loadMonth('Prior')">Prior Month</a></li>
	</ul>
</div>

<div class="panel panel-info" ng-show="reviewTab.isSet(1)">
	<div class="panel-heading">
		<h3 class="panel-title">{{monthlyExp.headerString}} Expense Detail
		</h3>
	</div>
	<div class="panel-body">
		<h4>Total Monthly Expenses: {{monthlyExp.totalExpenses | currency}}</h4>
	</div>
	<table class="table" ts-wrapper>
		<thead>
			<tr>
				<th ts-criteria="dateIncurred" ts-default="descending">Date</th>
				<th ts-criteria="paidTo|lowercase">Paid To</th>
				<th ts-criteria="importance|parseImportance">Importance</th>
				<th>Tags</th>
				<th ts-criteria="amount|parseFloat">Amount</th>
				<th>View Detail</th>
			</tr>
		</thead>
		<tr ng-repeat="expense in monthlyExp.expenses track by expense._id" ts-repeat>
			<td>{{expense.dateIncurred | date}}</td>
			<td>{{expense.paidTo}}</td>
			<td>{{expense.importance}}</td>
			<td><a href=""ng-repeat="tag in expense.tags" ng-click="reviewTab.setTab(2); tags.loadTag(tag)">{{tag}}  </a></td>
			<td>{{expense.amount | currency}}</td>
			<td><button type="button" class="btn btn-primary btn-sm" ng-click="monthlyExp.detail(expense._id)" data-toggle="modal" data-target="#monthlyExpEditModal"><span class="glyphicon glyphicon-info-sign"></span> Details</button></td>
		</tr>
	</table>
</div> <!-- ./panel -->

<!-- =============================================================================== -->
<!-- Expense EDIT Modal -->
<!-- =============================================================================== -->
<!-- Modal for Expense Detail -->
<div class="modal fade" id="monthlyExpEditModal" tab-index="-1" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Expense Detail - {{monthlyExp.detailExpense.paidTo}} for {{monthlyExp.detailExpense.amount | currency}}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="editDateIncurred" class="col-sm-2 control-label">Date Incurred</label>
						<div class="col-sm-3">
							<input type="date" class="form-control" id="editDateIncurred" ng-model="monthlyExp.detailExpense.dateInput">
						</div>
						<label for="editTransactionType" class="col-sm-3 control-label">Transaction Type</label>
						<div class="col-sm-4">
							<select id="editTransactionType" class="form-control" ng-model="monthlyExp.detailExpense.transactionType">
								<option>credit card</option>
								<option>cash</option>
								<option>bank transfer</option>	
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="editPaidTo" class="col-sm-2 control-label">Paid To</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="editPaidTo" ng-model="monthlyExp.detailExpense.paidTo">
						</div>
						<label for="editImportance" class="col-sm-2 control-label">Importance</label>
						<div class="col-sm-3">
							<select id="editImportance" class="form-control" ng-model="monthlyExp.detailExpense.importance">
								<option>Critical</option>
								<option>High</option>
								<option>Medium</option>
								<option>Low</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="editTags" class="col-sm-2 control-label">Tags</label>
						<div class="col-sm-6">
							<!-- <input type="text" class="form-control" id="editTags" ng-model="monthlyExp.detailExpense.tagsInput"> -->
							<tags-input ng-model="monthlyExp.detailExpense.ngTags"></tags-input>
						</div>
						<label for="editAmount" class="col-sm-2 control-label">Amount</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="editAmount" ng-model="monthlyExp.detailExpense.amount">
						</div>
					</div>
					<div class="form-group">
						<label for="editMemo" class="col-sm-2 control-label">Memo</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="editMemo" ng-model="monthlyExp.detailExpense.memo"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="monthlyExp.detailExpense.allowDelete">Allow Delete
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="monthlyExp.deleteExpense(monthlyExp.detailExpense._id)" ng-show="monthlyExp.detailExpense.allowDelete"><span class="glyphicon glyphicon-trash"></span> Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-warning" ng-click="monthlyExp.editExpense(monthlyExp.detailExpense._id)" data-dismiss="modal"><span class="glyphicon glyphicon-upload"></span> Edit</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div> <!-- /.modal -->	

<!-- =============================================================================== -->